<!-- Services Section Begin -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-item">
                    <img src="Front/img/services/service-1.jpg" alt="">
                    <h3>Shooting</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        magna aliqua. Quis ipsum suspendisse ultrices gravida.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-item">
                    <img src="Front/img/services/service-2.jpg" alt="">
                    <h3>Videos</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        magna aliqua. Quis ipsum suspendisse ultrices gravida.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services-item">
                    <img src="Front/img/services/service-3.jpg" alt="">
                    <h3>Editing</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        magna aliqua. Quis ipsum suspendisse ultrices gravida.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

@code {

}
