<!-- Categories Section Begin -->
<section class="categories-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="section-title">
                    <h2>Categories</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br /> eiusmod tempor
                        incididunt ut labore et dolore.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="right-btn"><a href="#" class="primary-btn">VIew all</a></div>
            </div>
        </div>
        <div class="categories-slider owl-carousel">
            <div class="cs-item">
                <div class="cs-pic set-bg" data-setbg="img/categories/cat-1.jpg"></div>
                <div class="cs-text">
                    <h4>Animal</h4>
                    <span>120 pictures</span>
                </div>
            </div>
            <div class="cs-item">
                <div class="cs-pic set-bg" data-setbg="img/categories/cat-2.jpg"></div>
                <div class="cs-text">
                    <h4>Natural</h4>
                    <span>325 pictures</span>
                </div>
            </div>
            <div class="cs-item">
                <div class="cs-pic set-bg" data-setbg="img/categories/cat-3.jpg"></div>
                <div class="cs-text">
                    <h4>Potrait</h4>
                    <span>540 pictures</span>
                </div>
            </div>
            <div class="cs-item">
                <div class="cs-pic set-bg" data-setbg="img/categories/cat-4.jpg"></div>
                <div class="cs-text">
                    <h4>Animal</h4>
                    <span>120 pictures</span>
                </div>
            </div>
            <div class="cs-item">
                <div class="cs-pic set-bg" data-setbg="img/categories/cat-5.jpg"></div>
                <div class="cs-text">
                    <h4>Animal</h4>
                    <span>120 pictures</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

@code {

}
