<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo">
                    <a href="./index.html">
                        <img src="Front/img/logo.png" alt="">
                    </a>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">Начало</a></li>
                        <li><a href="./about.html">За Нас</a></li>
                        <li><a href="./services.html">Услуги</a></li>
                        <li><a href="./pricing.html">Цени</a></li>
                        <li><a href="./portfolio.html">Портфолио</a></li>
                        <li><a href="./blog.html">Блог</a></li>
                        <li>
                            <a href="#">Страници</a>
                            <ul class="dropdown">
                                <li><a href="./gallery.html">Галерия</a></li>
                                <li><a href="./portfolio-details.html">Portfolio Details</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
                <div class="top-search search-switch">
                    <i class="fa fa-search"></i>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

@code {

}
